<body>
  <div class="out">
    <ul>
      <li><button id="signOut" (click)="logout()">Sign out</button></li>
      <li><button id="save" (click)="save()">Save</button></li>
      <li><button id="rank" (click)="rank()">Rank</button></li>
    </ul>
  </div>

  <p class="hint">
    {{hint}}
  </p>
  <br />
  <p class="question">
    {{question}}
  </p>
  <img src={{src}} />

  <div *ngFor="let p of options;let i = index " class="homePro">
    <ul>
      <li class="btn"><input class="choice" type="button" (click)="choose(p,i)" value={{p}} /></li>
    </ul>
  </div>


  
  
  






</body>
