body {
  position: absolute;
  padding-top: 0;
  padding-right: 1500px;
  padding-bottom: 880px;
  background-image: url(../../assets/background_1.jpg);
  font-size: 2em;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black
}

.hint {
  color: red;
  font-size: 28px;
  position: absolute;
  margin-top: 3%;
  margin-left: 1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.question {
  color: red;
  font-size: 40px;
  position: absolute;
  margin-top: 12%;
  margin-left:15%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.answer {
  width: 400px;
  height:40px;
  margin-top:400px;
  margin-left: 550px;
 
}

#confirm {
  margin-left:700px;
  margin-top:50px;
  color: red;
  border: outset;
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
}
