
body {
  position: absolute;
  padding-top: 0;
  padding-right: 1500px;
  padding-bottom: 880px;
  background-image: url(../../assets/dungeons_1.jpg);
  font-size: 2em;
  background-attachment: fixed;
  
  background-repeat: no-repeat;
}

#signOut {
  color:white;
  border: outset;
  width: 120px;
  height: 40px;
  font-size: 20px;
  background-color: transparent;
  font-weight: bold;
}
.out {
  margin-top:3%;
  margin-left:1300px;
  position: absolute;
 
}
  .out li {
    list-style-type: none;
  }

#pH {
  color: white;
  font-size: 30px;
  position: absolute;
  margin-top: 1%;
  margin-left:1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homePro {
  /*width: 100%;*/
  position: relative;
  padding-left:250px;
  
}
.doors {
  margin-top: 130px;
  padding: 10px;
  color:white;
  border:0;
  width: 500px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
  background-color: transparent;
}

.choice {
  background-color: red;
  width:500px;
}

#save {
  background-color: transparent;
  color: white;
  margin-top: 25%;
  /*margin-left: 600px;*/
  font-weight: bold;
  font-size: 20px;
  border:outset;
  width: 120px;
  height: 40px;
}
#rank {
  color: white;
  border: outset;
  width: 120px;
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  font-weight: bold;
  margin-top: 20%;
}








